<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/app.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="./lib/angularjs/locales/angular.locale-pt-br.js"></script>
	<script src="./js/app.js"></script>
	<!-- <script src="./js/services/factorys/contatosAPIFactory.js"></script> -->
	<!-- <script src="./js/services/factorys/operadorasAPIFactory.js"></script>	 -->
	<script src="./js/services/values/config.value.js"></script>	
	<script src="./js/services/services/contatosAPIService.js"></script>
	<script src="./js/services/services/operadorasAPIService.js"></script>
	<script src="./js/controllers/listaTelefonicaCtrl.js"></script>	
</head>
<body>
	<div ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h4>{{ titleApp }}</h4>

			<!-- {{ contatos }} -->
			<input type="text" class="form-control" placeholder="Digite alguma coisa" ng-model="criterioDebusca">
			<table ng-show="contatos.length > 0" class="table">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th>Data</th>
				</tr>
				<tr 
					ng-class="{selecionado: contato.selecionado}" 
					ng-repeat="contato in contatos | filter : criterioDebusca | orderBy: 'nome'">

					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td>{{ contato.nome }}</td>
					<td>{{ contato.telefone }}</td>
					<td>{{ contato.operadora.nome }}</td>
					<td>{{ contato.data | date : 'dd/MM/yyyy HH:mm' }}</td>
				</tr>
			</table>
			<form name="contatoForm">
				<div class="form-group">
					<input 
						class="form-control" 
						type="text" 
						placeholder="Nome"
						name="nome"
						ng-model="contato.nome" 
						ng-required="true">
					<input 
						class="form-control" 
						type="text" 
						placeholder="Telefone"
						name="telefone"
						ng-model="contato.telefone"
						ng-required="true">
					<!-- <select 
						class="form-control" 
						ng-model="contato.operadora" 
						ng-options="operadora.nome for operadora in operadoras">
						<option value="">Selecione um operadora</option>
					</select> -->
					<!-- <select 
						class="form-control" 
						ng-model="contato.operadora" 
						ng-options="operadora.codigo as operadora.nome for operadora in operadoras">
						<option value="">Selecione um operadora</option>
					</select> -->
					<select 
						class="form-control" 
						ng-model="contato.operadora" 
						ng-options="operadora.nome  + [  (operadora.preco | currency) ]  group by operadora.categoria for operadora in operadoras | orderBy : 'nome'">
						<option value="">Selecione um operadora</option>
					</select>
				</div>
				<div class="row">
					<div class="col">
						<button 
							class="btn btn-primary btn-block" 
							ng-click="adicionarContato(contato)" 
							ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
					</div>
					<div class="col">
						<button 
							class="btn btn-danger btn-block" 
							ng-click="removerContatos(contatos)"
							ng-disabled="!isContatoSelecionado(contatos)">Apagar Contato</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>