<h4>{{ listaTelefonica.titleApp }}</h4>

<ui-alert error="listaTelefonica.error"></ui-alert>

<div ng-show="listaTelefonica.contatos.length > 0">
    <input type="text" class="form-control" placeholder="Digite alguma coisa" ng-model="criterioDebusca">
    <table class="table">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
            <th>Data</th>
        </tr>
        <tr ng-class="{selecionado: listaTelefonica.contato.selecionado}" ng-repeat="contato in listaTelefonica.contatos | filter : criterioDebusca | orderBy: 'nome'">

            <td>
                <input type="checkbox" ng-model="contato.selecionado">
            </td>
            <td>{{ contato.nome | firstslettersupercase | ellipsis}}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.operadora.nome }}</td>
            <td>{{ contato.data | date : 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </table>
</div>
<a class="btn btn-block btn-primary" href="/#!/novo">Novo contato</a>