<form name="novoContato.contatoForm">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nome" name="nome" ng-model="novoContato.contato.nome" ng-required="true">
        <input class="form-control" type="text" placeholder="Telefone" name="telefone" ng-model="novoContato.contato.telefone"
            ng-required="true">
        <!-- <select
                class="form-control"
                ng-model="contato.operadora"
                ng-options="operadora.nome for operadora in operadoras">
                <option value="">Selecione um operadora</option>
            </select> -->
        <!-- <select
                class="form-control"
                ng-model="contato.operadora"
                ng-options="operadora.codigo as operadora.nome for operadora in operadoras">
                <option value="">Selecione um operadora</option>
            </select> -->
        <select class="form-control" ng-model="novoContato.contato.operadora" ng-options="operadora.nome  + [  (operadora.preco | currency) ]  group by operadora.categoria for operadora in novoContato.operadoras | orderBy : 'nome'">
            <option value="">Selecione um operadora</option>
        </select>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-block" ng-click="novoContato.adicionarContato(novoContato.contato)" ng-disabled="novoContato.contatoForm.$invalid">Adicionar Contato</button>
        </div>
        <div class="col">
            <a class="btn btn-block btn-danger" href="/#!/contatos">Voltar</a>
        </div>
    </div>
</form>
